<div class="fdc fac">
  <h4>Pedido para <b>Dirección de Mantenimiento, Producción y Servicios Generales</b></h4>
  <p class="parrafoPrincipal">Usa este formulario para darnos más detalles sobre el problema que estás experimentando y nos comunicaremos a la brevedad contigo.</p><hr>
</div>

<div class="subContenedor fdc fac">
  <div class="formulario frc fjc">

<form>
  <div class="form-group fdr fac">
    <div class="NombreInput">Correo</div>
    <input type="text" class="inputFormulario form-control" ng-model="pedido.correo" required>
  </div>

  <div class="form-group fdr fac">
    <div class="NombreInput">Teléfono</div>
    <input type="mail" class="inputFormulario form-control" ng-model="pedido.telefono">
  </div>

  <div class="form-group fdr fac">
    <div class="NombreInput">Nº de Oficina</div>
    <input type="text" class="inputFormulario form-control" ng-model="pedido.oficina" required>
  </div>

  <div class="form-group fdr fac">
    <div class="NombreInput">Horario de Contacto</div>
    <input type="text" class="inputFormulario form-control" ng-model="pedido.horario" required>
  </div>

  <div class="">Días de Contacto</div>
  <div class="form-group seleccionDeDias  fdr fac ">
    L &nbsp; <md-switch ng-model="pedido.dias.lunes" class="md-warn"> </md-switch>
    M &nbsp; <md-switch ng-model="pedido.dias.martes" class="md-warn"> </md-switch>
    M &nbsp; <md-switch ng-model="pedido.dias.miercoles" class="md-warn"> </md-switch>
    J &nbsp; <md-switch ng-model="pedido.dias.jueves" class="md-warn"> </md-switch>
    V &nbsp; <md-switch ng-model="pedido.dias.viernes" class="md-warn"> </md-switch>
  </div>





  <div class="form-group">

  <div>Describe el Pedido</div>
  <textarea class="form-control" rows="5" ng-model="pedido.problema" required></textarea>
  </div>

  <md-button class="md-raised md-primary" ng-click='registrarProblema()'>Enviar Consulta</md-button>
  <md-button md-no-ink class="md-primary" ng-click='seleccionar()'>Volver</md-button>

</form>
</div>
</div>
