<div>Registro de Pedidos de La Dirección de Mantenimiento, Producción y Servicios Generales </div>
<div>Bienvenido {{pedido.nombre}}<div>
<div class="subContenedor fdc fac">
  <p>Usa este formulario para darnos más detalles sobre el requerimiento y nos comunicaremos a la brevedad contigo.</p>
</div>

<form>
  <div class="form-group fdr fac">
    <div class="NombreInput">Correo de Contacto</div>
    <input type="text" class="inputFormulario form-control" ng-model="pedido.correo" required>
  </div>

  <div class="form-group fdr fac">
    <div class="NombreInput">Teléfono de Contacto</div>
    <input type="mail" class="inputFormulario form-control" ng-model="pedido.telefono">
  </div>

  <div class="form-group fdr fac">
    <div class="NombreInput">Días de Contacto</div>
    Lunes<md-switch ng-model="pedido.dias.lunes" class="md-warn">{{pedido.dias.lunes}}</md-switch>
    Martes<md-switch ng-model="pedido.dias.martes" class="md-warn">{{pedido.dias.martes}}</md-switch>
    Miércoles<md-switch ng-model="pedido.dias.miercoles" class="md-warn">{{pedido.dias.miercoles}}</md-switch>
    Jueves<md-switch ng-model="pedido.dias.jueves" class="md-warn">{{pedido.dias.jueves}}</md-switch>
    Viernes<md-switch ng-model="pedido.dias.viernes" class="md-warn">{{pedido.dias.viernes}}</md-switch>
  </div>

  <div class="form-group fdr fac">
    <div class="NombreInput">Horario de Contacto</div>
    <input type="text" class="inputFormulario form-control" ng-model="pedido.horario" required>
  </div>

  <div class="form-group fdr fac">
    <div class="NombreInput">Número de Oficina</div>
    <input type="text" class="inputFormulario form-control" ng-model="pedido.oficina" required>
  </div>


  <div class="form-group">

  <div>Describe el Pedido</div>
  <textarea class="form-control" rows="5" ng-model="pedido.problema" required></textarea>
  </div>

  <md-button class="md-raised md-primary" ng-click='registrarProblema()'>Enviar Consulta</md-button>
  <md-button md-no-ink class="md-primary" ng-click='seleccionar()'>Volver</md-button>

</form>
