<div class="contendorPedidos fdc fac">
  <h1><i class="iconoSistemas fa fa-ticket" aria-hidden="true"></i> Sistema de Pedidos FCE</h1><hr>
  <div><h4>¡Hola! <b>Pablo Daniel</b>,<br> Secciona el áera al cual deseas realizar el pedido</h4></div>



  <div>pedido a <a ui-sref='pedidos.mantenimiento'>Mantenimiento</a></div>
  <div>pedido a secretaria administrativa: <a ui-sref='pedidos.administrativa'>Secretaría Administrativa</a></div>
  <div>pedido a <a ui-sref='pedidos.ditesi'>DiTeSI (informática)</a></div>
</div>
