<div class="contenedor fdc fac fjc">
  <h1><i class="fa fa-meh-o" aria-hidden="true"></i> Oops! Error de Sistema.</h1>
  <div class="fdc fac">
    <p>
    Se ha producido un error al intentar enviar el formulario, por favor repita el proceso,<br>
    en caso de persistir el problema comunicate con DiTeSI.<br>
    </p>
    <hr>
    <div>
    <p><i class="fa fa-phone" aria-hidden="true"> +54 (221) 423-6769/71/72 - Interno 123</i></p>
    <p><i class="fa fa-envelope" aria-hidden="true"> ditesi@econo.unlp.edu.ar</i></p>
    <p><i class="fa fa-map-marker" aria-hidden="true"> Calle 6 #777 | La Plata | Buenos Aires - 1er Subsuelo</i></p>
    </div>
  </div>
</div>
