<div class="pedido fdc fac ">
  <h1><i class="material-icons">near_me</i> Reportar problema</h1>
  <div class="subContenedor fdc fac">
    <p>Usa este formulario para darnos más detalles sobre el problema que estás experimentando y nos comunicaremos a la brevedad contigo.</p>
  </div>

  <md-content class="formulario" layout-padding>
  <form>

    <div layout="row">
      <md-input-container flex="50">
        <label>Nombre y Apellido</label>
        <input ng-model="pedido.nombre" required>
      </md-input-container>

      <md-input-container flex="50">
        <label>DNI</label>
        <input ng-model="pedido.dni" required>
      </md-input-container>
    </div>

    <div layout="row">
      <md-input-container flex="50">
        <label>Correo Eléctronico</label>
        <input ng-model="pedido.correo" required>
      </md-input-container>

      <md-input-container flex="50">
        <label>Teléfono de Contacto</label>
        <input ng-model="pedido.telefono">
      </md-input-container>
    </div>

    <div layout="row">
      <md-input-container flex="100">
        <label>Describa el problema</label>
        <textarea ng-model="pedido.problema" md-maxlength="200" rows="5" md-select-on-focus required></textarea>
      </md-input-container>
    </div>
    <md-button class="md-raised md-primary" ng-click='registrarProblema()'>Enviar Consulta</md-button>


  </form>
  </md-content>

</div>
