Datos de la Persona
DNI:        {{persona.dni}}
Nombre:     {{persona.nombre}}
Apellido:   {{persona.apellido}}

Datos de Contacto
Telefono:   {{contacto.telefono}}
Correo:     {{contacto.correo}}
Oficina:    {{contacto.oficina}}
Horario:    {{contacto.horario}}
Días:       {{contacto.dias}}

Descripción del pedido:

{{problema}}
