Datos de la Persona
DNI:        {{persona.dni}}
Nombre:     {{persona.nombre}}
Apellido:   {{persona.apellido}}

Datos de Contacto
Telefono:   {{contacto.telefono}}
Correo:     {{contacto.correo}}

Descripción del pedido:

{{problema}}
