<div class="contenedor fdc fac fjc">
  <h1><i class="fa fa-check" aria-hidden="true"></i> Solucitud Enviada.</h1>
  <div class="fdc fac">
    <p>
    Su problema se ha registrado con éxito, nos contactaremos a la brevedad.</p><br>
    <p>Su número de pedido es:</p>
    <div class="numeroDePedido">{{pedido.numero}}</div>
    <p>Si tiene alguna duda puede comunicarse con DiTeSI indicando el número de pedido.</p>
    <div>
    <div class="fdr fac"><i class="fa fa-phone" aria-hidden="true"> +54 (221) 423-6769/71/72 - Interno 123</i>&nbsp; |&nbsp;
      <i class="fa fa-envelope" aria-hidden="true"> ditesi@econo.unlp.edu.ar</i>
    </div>
    </div>
  </div>
</div>
