<div class="pedido fdc fac ">
  <h1><i class="material-icons">near_me</i> Reportar problema</h1>


  <div class="subContenedor fdc fac">
    <p>Usa este formulario para darnos más detalles sobre el problema que estás experimentando y nos comunicaremos a la brevedad contigo.</p>
  </div>

  <form>
    <div class="form-group fdr fac">
      <div class="NombreInput">Correo</div>
      <input type="text" class="inputFormulario form-control" ng-model="pedido.correo" required>
    </div>
    <div class="form-group fdr fac">
      <div class="NombreInput">Teléfono</div>
      <input type="mail" class="inputFormulario form-control" ng-model="pedido.telefono">
    </div>
    <div class="form-group">
  <div>Describe el problema</div>
  <textarea class="form-control" rows="5" ng-model="pedido.problema" required></textarea>
</div>
    <md-button class="md-raised md-primary" ng-click='registrarProblema()'>Enviar Consulta</md-button>
  </form>


</div>
